<a href="https://colab.research.google.com/github/Poomanirajan/ineuron---FSDS/blob/main/Programming_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Write a Python program to convert kilometers to miles?

In [3]:
km=float(input("Enter km to convert: "))
mi=km*0.6214
print(mi)

Enter km to convert: 5
3.1069999999999998

2.	Write a Python program to convert Celsius to Fahrenheit?

In [6]:
cel=float(input("Enter temperature in celsius to convert: "))
far=(cel*1.8)+32
print("Fahrenheit: ",far)

Enter temperature in celsius to convert: 38
Fahrenheit:  100.4

3.	Write a Python program to display calendar?

In [8]:
import calendar
yy = 2022
mm = 5
print(calendar.month(yy, mm))

      May 2022
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

4.	Write a Python program to solve quadratic equation?

In [9]:
import cmath  
a = float(input('Enter a: '))  
b = float(input('Enter b: '))  
c = float(input('Enter c: '))  
d = (b**2)-(4*a*c)   
s1 = (-b-cmath.sqrt(d))/(2*a)  
s2 = (-b+cmath.sqrt(d))/(2*a)  
print('The solution are {0} and {1}'.format(s1,s2))

Enter a: 1
Enter b: 1
Enter c: -6
The solution are (-3+0j) and (2+0j)

5.	Write a Python program to swap two variables without temp variable?

In [10]:
a = 5
b = 7
a, b = b, a
print("Value of a : ", a, " and b : ", b)

Value of a :  7  and b :  5